@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

nav div {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

body {
    background-color: #eeeeee;
}

h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.selected {
    color: #000000;
    text-decoration: underline;
}

.unselected {
    color: #000000;
    text-decoration: none
}

.unselected:hover {
    color: #9d9d9d;
    text-decoration: none
}


.layout {
    width: auto;
    height: auto;

    display: grid;
    grid:
    "header header" auto
    "sidebar body" auto
    "footer footer" auto
    / auto 1fr;
    gap: 30px;
    margin-left: 10px;
}

.header {
    grid-area: header;
    margin-left: 40px;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
    margin-left: 40px;
}


h1, p, li, a {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}

#RA-pic {
    width: 35%;
}

.exp-1 {
    border-style: groove;
}

#nh-pic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

#nh-pic:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media only screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }

    nav div {
        justify-content: center;
    }

    .body {
        margin: 10px;
    }
}

@media only screen and (max-width: 500px) {

}

#resume-download-link{
    text-decoration: underline;
}